<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Đạo Tràng Tịnh Độ", root_path, id: "logo", 'data-no-turbolink' => 'true' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <%= render 'layouts/menu/login' %>
      </ul>
    </nav>
  </div>
</header>
